<div class="container">


  <div id="win-result">
    <h2>You Win!</h2>
    <div id="winning-knight">
      <img src="/assets/UserKnight.png" alt="winning knight" style="display:inline; width: 15em;"/>
      <img src="/assets/tome.png" alt="tome" style="display:inline; width: 5em; margin-left: -7em; margin-bottom: -3em;">
    </div>
  </div>

  <div id="loss-result">
    <h2>You Lose!</h2>
    <img src="/assets/UserKnight.png" alt="losing knight" style="display:inline; width: 15em;" id="losing-knight"/>
  </div>


<button type="button" class="btn-lg rounded-button" id="home">Play Again?</button>
</div>

<script src="/js/home.js"></script>