<div class="container">
<h2 id="win-result">You Win!</h2>
<h2 id="loss-result">You Lose!</h2>

<button type="button" class="btn-lg rounded-button" id="home">Play Again?</button>
</div>

<script src="/js/home.js"></script>