<div class="container-fluid opponent-health">
  <div class="row x-center">
    <div class="col-12-sm x-center">
  {{!-- data-total is total health of character --}}
      <div class="health-bar" data-total="35" data-value="35">
        <div class="bar">
            <div class="hit"></div>
        </div>
      </div>
    </div>
  </div>

<div class="row x-center">
  <img src="/assets/opponent.png"/>
</div>

  {{!-- <h2 id="action-prompt"> Your turn! </h2> --}}
  <div class="row x-center">
  <h2 id="oppTurn" style="display: block;">It's your opponent's turn, please wait.</h2>

  </div>

  <br>

  {{!-- 
  <button type="button" class="btn btn-primary btn-lg" id="attack">ATTACK</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg" id="heavy-attack">HEAVY ATTACK</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg" id="heal">HEAL</button> --}}






<div class="container-fluid health-container">
    <div class="row x-center">
      <div class="health-bar your-health" data-total="35" data-value="35">
        <div class="bar">
            <div class="hit"></div>
        </div>
      </div>
    </div>
</div>




<!-- some simple "code editor" where you can highlight lines of text/code one by one and edit the text. when you hold ctrl or something everything fades out a bit and you hover over lines to bring them to full opacity -->





<script src="/js/healthbar.js"></script>
<script src="/scripts/notMyTurn.js"></script>
<script src="/scripts/myTurn.js"></script>
<script src="/js/game.js"></script>

