<div class="container-fluid">

  <div class="row x-center opponent-health">
    <div class="col-12-sm x-center">

      <p>opponent health:</p>
      <div class="health-bar opp-health" data-total="35" data-value="35">
        <div class="opp-bar">
        </div>
      </div>
    </div>
  </div>


 
  <div class="row x-center">
    <h2 id="oppTurn">It's your opponent's turn, please wait.</h2>
    <h2 id="action-prompt"> Your turn! </h2>
  </div>

  <div class="row x-center knights">
    <img src="/assets/UserKnight.png"/>
    <img src="/assets/OpponentKnight.png"/>
  </div>

  <button type="button" class="btn btn-primary btn-lg action-button" id="attack">ATTACK</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg action-button" id="heavy-attack">HEAVY ATTACK</button>
  <br>
  <button type="button" class="btn btn-primary btn-lg action-button" id="heal">HEAL</button>




  <div class="row x-center user-health">
    <div class="col-12-sm x-center">
      <p>your health:</p>
      <div class="health-bar your-health" data-total="35" data-value="35">
        <div class="your-bar">
        </div>
      </div>
    </div>
  </div>

</div>



<!-- some simple "code editor" where you can highlight lines of text/code one by one and edit the text. when you hold ctrl or something everything fades out a bit and you hover over lines to bring them to full opacity -->





<script src="/js/healthbar.js"></script>

<script src="/js/game.js"></script>

