<div class="container">
  <div class="row">
    <div class="col-sm" id="title">
      <h1>THE BATTLE OF THE SHADOW TOME</h1>
    </div>
  </div>



  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn-lg rounded-button y-center" id="create-game">CREATE</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <input id="game-id" placeholder="Enter Game ID">
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn-lg rounded-button" id="join-game">JOIN</button>
    </div>
  </div>
</div>







<script src="/js/createGame.js"></script>

