<button type="button" class="btn btn-primary btn-lg" id="create-game">CREATE</button>

<form class="join-game">
  <div class = "join-container">
    <input class="form-control" id="game-id" placeholder="Enter Game ID Here">
    <button type="button" class="btn btn-primary btn-lg" id="join-game">JOIN</button>
  </div>
</form>


<script src="./js/create.js"></script>