<h2> It is your turn, what would you like to do? </h2>

<div class="action-container">
<button type="button" class="btn btn-primary btn-lg" id="attack">ATTACK</button>

<button type="button" class="btn btn-primary btn-lg" id="special-attack">SPECIAL ATTACK</button>

<button type="button" class="btn btn-primary btn-lg" id="heal">HEAL YOURSELF</button>
</div>

<script src="/js/actions.js"></script>
