* {
  box-sizing: border-box;
}

:root{
 --orange: #FFB905;
 --gray: #e0e0e0;
 --blue: #577FCE;
 --red: #DC3545;
}
body{
  position: fixed;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--blue);
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

#attribute-title {
  font-size: 20px;
  padding-bottom: 15px;
  text-align: start;
  color: var(--orange);
}

.rounded-button {
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  border: 0;
  /* padding: 10px 20px; */
  margin: 30px 20px; 
  color: white;
  width: 20vw;
  height: 2.5em;
  background-color: var(--orange);
  font-size: 5vw;
}

#game-id {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 5px var(--orange);
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 2vw;
  background-color: var(--blue);
  color: black;
  text-transform: uppercase;
}

#game-id::placeholder {
  color: var(--gray);
  text-transform: capitalize;
}

#game-id:focus {
  outline: none;
}

.opponent-health {
  margin-bottom: 10em;
  top: 0;
}

.opponent-health p,
.user-health p {
  font-size: 1.5vw;
}

#oppTurn {
  font-size: 2em;
  color: #FFB905;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 20px;
  display: none;
}

#action-prompt {
  font-size: 2em;
  color: #FFB905;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: 20px;
}

#attack, #heavy-attack, #heal {
  background-color: #FFB905;
  color:#e0e0e0;
  font-family: 'Press Start 2P', cursive;
  border-radius: 15px;
  width: 15vw;
  height: 5.8vw;
  font-size: 1.5vw;
}


#home {
  background-color: #FFB905;
}

#result {
  color: #FFB905;
  padding-bottom: 1.0em;
}

.attribute-controllers {
  flex-wrap: wrap;
  display: flex;
}

.health-progress-container,
.strength-progress-container,
.medical-progress-container,
.dexterity-progress-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 30vw;
  /* margin-bottom: 30px; */
}

.health-progress-container::before,
.strength-progress-container::before,
.medical-progress-container::before,
.dexterity-progress-container::before{
  content: '';
  position: absolute;
  background-color: var(--gray);
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.health-progress,
.strength-progress,
.medical-progress,
.dexterity-progress {
  position: absolute;
  background-color: var(--orange);
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transform: translateY(-50%);
  transition: .4s ease;
}

.health-circle,
.strength-circle,
.medical-circle,
.dexterity-circle
{
  font-family:'Muli', sans-serif;
  background-color: #e0e0e0;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  border: 3px solid var(--gray);
  transition: .4s ease;
}

.health-circle.health-active,
.strength-circle.strength-active,
.medical-circle.medical-active,
.dexterity-circle.dexterity-active {
  border-color: var(--orange);
  background-color: #FFB905;
  color: white;
}

.btn{
  color: #fff;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 5px;
  font-size: 30px;
  border-radius: 0px;
  text-align: center;
}

.btn:active{
  transform: scale(0.98);
  outline: none;
}
.btn:focus{
  outline: 0;
}
.btn:disabled{
  /* background-color: var(--gray); */
  cursor: not-allowed;
}

.y-center {
  align-items: center;
}

h1{
  color: var(--orange);
  font-weight: 600;
  font-size: 5vw;
  margin-bottom: 3vh;
  font-family: 'Press Start 2P', cursive;
  text-shadow: .75vw .6vw 0px #000000;
}

#player {
  max-height: 300px;
}

h4 {
 font-weight: bold;
 padding: 20px;
}

i {
  color: white;
}

.definitions i{
  margin-top: 30px;
  color: var(--orange);
}

.definitions p {
  font-size: .75vw;
}

.x-center {
  justify-content: center;
}



.y-end {
  align-items: end;
}

.container {
  margin: 15px;
}

#attribute {
  color: white;
}

#definitions svg {
  color: var(--orange);
  margin-top: 40px;
  margin-bottom: 10px;
}

#start-game {
  font-size: 2vw;
}

#create-game,
#join-game {
  font-size: 2vw;
  justify-content: center;;
}

#create-game:hover,
#join-game:hover {
  background-color: var(--red);
}

#create-game:active,
#join-game:active {
  transform: scale(102%);
}



.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50vw;
  height: 3vw;
  padding: .25vw;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
  position: relative;
}

.opp-bar, .your-bar {
  background: rgb(0, 255, 0);
  width: 100%;
  height: 2.5vw;
  position: relative;
  border-radius: 20px;
  transition: width .5s linear;
}

.knights img {
  height: 20vw;
  margin: 1em;
}


.your-health {
  margin-top: 3vw;
}


.health-container {
  bottom: 0px;
}

.action-button {
  display: block;
  margin: -2em 1.5em .5em 1.5em;
  /* position: absolute; */
}


/* 
@media screen and (min-width: 1007px) {
  .definitions {
    display: none;
  }
} */