* {
  box-sizing: border-box;
}

:root{
 --orange: #FFB905;
 --gray: #e0e0e0;
 --blue: #577FCE;
}
body{
  font-family:'Muli', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--blue);
}

.x-center {
  justify-content: center;
}


.container {
  justify-content: center;
  font-weight: bold;
  text-align: end;
}

#attribute-title {
  font-size: 20px;
  padding-bottom: 15px;
  text-align: start;
  color: var(--orange);
}

.rounded-button {
  border-radius: 20px;
  text-align: center;
  border: 0;
  padding: 10px 20px;
  margin: 30px 20px; 
  color: white;
  background-color: var(--orange);
  font-size: 5vw;
}

#game-id {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-width: 5px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 4vw;
  background-color: var(--blue);
  color: var(--orange);
  text-transform: uppercase;
}

#game-id::placeholder {
  color: var(--gray);
  text-transform: capitalize
}

#game-id:focus {
  outline: none;
}

.attribute-controllers {
  flex-wrap: wrap;
  display: flex;
}

.health-progress-container,
.strength-progress-container,
.agility-progress-container,
.luck-progress-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 30vw;
  /* margin-bottom: 30px; */
}

.health-progress-container::before,
.strength-progress-container::before,
.agility-progress-container::before,
.luck-progress-container::before{
  content: '';
  position: absolute;
  background-color: var(--gray);
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transform: translateY(-50%);
}

.health-progress,
.strength-progress,
.agility-progress,
.luck-progress {
  position: absolute;
  background-color: var(--orange);
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transform: translateY(-50%);
  transition: .4s ease;
}

.health-circle,
.strength-circle,
.agility-circle,
.luck-circle
{
  background-color: #e0e0e0;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  border: 3px solid var(--gray);
  transition: .4s ease;
}

.health-circle.health-active,
.strength-circle.strength-active,
.agility-circle.agility-active,
.luck-circle.luck-active {
  border-color: var(--orange);
  background-color: #FFB905;
  color: white;
}

.btn{
  color: #fff;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  margin-bottom: 5px;
  font-size: 30px;
  border-radius: 0px;
  text-align: center;
}

.btn:active{
  transform: scale(0.98);
  outline: none;
}
.btn:focus{
  outline: 0;
}
.btn:disabled{
  /* background-color: var(--gray); */
  cursor: not-allowed;
}

.y-center {
  align-items: center;
}


#player {
  max-height: 300px;
}

h4 {
 font-weight: bold;
 padding: 20px;
}

i {
  color: white;
}

.definitions i{
  margin-top: 30px;
  color: var(--orange);
}

.definitions p {
  font-size: 1.4vw;
}



@media screen and (min-width: 1007px) {
  .definitions {
    display: none;
  }
}